@import url('https://fonts.googleapis.com/css2?family=Istok+Web:ital@1&display=swap');

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html, 
body {
    height: 100%;
    background-color: rgb(70, 70, 70);
    font-family:Arial, Helvetica, sans-serif;
    color: white;
    font-size: 20px;
}

.wrapper{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.menu{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(51, 68, 58);
}

.imgLogo{
    width: 120px;
    height: 50px;
    margin: 20px;
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

li{
    list-style: none;
    padding: 0px 20px;
}

.fullscreen{
    background-color: rgb(51, 68, 58);
    min-height: 100vh;
    display: flex;
    padding: 20px 0;
}

.fullscreen_img{
    width: 400px;
    height: auto;
    padding: 60px 0px 0px 0px;
}

.fullscreen_img2{
    width: 200px;
    height: auto;
    margin: 150px 90px 0px 20px;
}

.fullscreen_p{
    font-size: 17px;
    width: 70%;
    margin: auto 0px 0px 20px;
}

.fullscreen_bg{
    background: url("images/les.jpg") center / cover no-repeat fixed;
}

.fullscreen_two{
    background-color: rgb(107, 83, 83);
}

.fullscreen_body{
    /* background-color: rgb(145, 71, 71); */
    flex: 1 1 auto;
    max-width: 1000px;
    margin: 0px 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 25px;
}

.fullscreen_title{
    font-size: 50px;
    margin: 0px 0px 20px 0px;
}

.fullscreen_text{
    font-size: 25px; 
    margin: 0px 0px 20px 0px;
    line-height: 40px;
}

.fullscreen_link{
    display: inline-block;
    line-height: 50px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    background-color: rgb(2, 2, 2);
    padding: 0px 20px;
    
    width: 240px;
}

/* 3 блок */

.fullscreen2{
    background-color: rgb(255, 255, 255);
    min-height: 100vh;
    display: flex;
    padding: 20px 0;
}


.fullscreen_body2{
    /* background-color: rgb(145, 71, 71); */
    flex: 1 1 auto;
    max-width: 1000px;
    margin: 0px 120px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 25px;
}

.fullscreen_body2 h1{
    font-family: 'Istok Web', sans-serif;
    font-size: 45px;
    margin-bottom: 30px;
    color: black;
}

.fullscreen_body2 p{
    margin-bottom: 30px;
    color: black;
}

.fullscreen_image{
    background-image: url("images/dev.jpg");
    background-size: cover;
    margin: 0px 90px;
    width: 50%;
    padding: 80px 0px 0px 70px;
}

.fullscreen_image h1{
    font-size: 50px;
    width: 50%;
    line-height: 60px;
    font-family: 'Istok Web', sans-serif;
}

.fullscreen_image p{
    padding-top: 30px;
    width: 75%;
    line-height: 35px;
}

h6{
    color: black;
    margin-bottom: 10px;
    text-transform:uppercase;
}

/* конец 3 блока*/

/* 4 блок */

.fullscreen3{
    background-color: rgb(255, 255, 255);
    min-height: 100vh;
    display: flex;
    padding: 20px 0px 0px 70px;
}

.fullscreen_body3{
    /* background-color: rgb(145, 71, 71); */
    flex: 1 1 auto;
    max-width: 1000px;
    margin: 0px 120px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 25px;
}

.fullscreen_body3 h1{
    font-family: 'Istok Web', sans-serif;
    font-size: 45px;
    margin-bottom: 30px;
    color: black;
}

.fullscreen_body3 p{
    width: 70%;
    line-height: 30px;
    margin-bottom: 30px;
    color: black;
}


form {
    position: relative;
    padding-top: 6%;
  }

  
.buttonLupa {
    border: none;
    height: 42px;
    position: absolute;
    right: -22px;
    cursor: pointer;
}

  
input {
    width: 100%;
    height: 50px;
    padding-left: 10px;
    border: black 1px solid;
  }
 
  
  .buttonLupa {
    outline: none;
    background: transparent;
  }

  .fullscreen_image4{
    position: relative;
  }

  .fullscreen_img3{
    position: absolute;
    top: 250px;
    z-index: 10;
  }

  .fullscreen_img4{
      width: 300px;
      height: 400px;
      position: absolute;
      top: 250px;
      right: 160px;
  }

/* конец 4 блока */

/* 5 блок */

.fullscreen5{
    background-color: rgb(51, 68, 58);
    min-height: 100vh;
    display: flex;
    padding: 20px 0;
    position: relative;
    z-index: 10;
}

/* конeц 5 блока */

/* 6 блок */

.fullscreen_body4{
    background-color: rgb(51, 68, 58);
    position: relative;
    z-index: 100;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 50px;
}

.fullscreen_body4>h3{
    text-align: center;
    padding: 100px 0px 30px 0px;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 2px;
}

.fullscreen_body4>h1{
    text-align: center;
    padding-bottom: 70px;
    font-size: 45px;
    font-weight: normal;
    letter-spacing: 2px;
}

.razdel-one{
    display: flex;
    justify-content: space-around;
  
}
.razdel-two{
    display: flex;
    justify-content: space-around;
}

.razdel-one>.razdel{
    width: 30%;
}

.razdel>h2{
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 1px;
    padding-bottom: 30px;
}

.razdel>p{
    line-height: 35px;
    font-weight: 100;
    font-size: 19px;
    padding-bottom: 50px;
}

.razdel-two>.razdel{
    width: 30%;
}

.razdel>h2{
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 1px;
    padding-bottom: 30px;
}

.razdel>p{
    line-height: 35px;
    font-weight: 100;
    font-size: 19px;
    padding-bottom: 50px;
}

/* конец 6 блока */

/* 7 блок */

.fullscreen5{
    background-color: #fff;
    color: black;
}

.fullscreen5 h3{
    text-transform: uppercase;
    font-size: 15px;
    padding-bottom: 10px;
}

.fullscreen5_img1{
    width: 200px;
    height: auto;
    margin: 150px 40px 20px 90px;
}

.fullscreen5 p{
    font-size: 17px;
    width: 50%;
    margin: 2px 0px 0px 90px;
}

.fullscreen5_img2{
    display: block;
    width: 330px;
    height: auto;
    padding: 40px 0px 0px 0px;
}

.fullscreen_body5{
    /* background-color: rgb(145, 71, 71); */
    flex: 1 1 auto;
    max-width: 1000px;
    margin: 0px 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 25px;
}

.fullscreen_body5 p{
    font-size: 17px;
    width: 50%;
    margin: 0px 0px 0px 10px;
}

.interest{
    margin: 30px 0px 30px 0px;
}

.cent{
    background-color: rgb(221, 221, 221);
    height: 40px;
    margin-bottom: 10px;
}

.cent-green1, .cent-green2, .cent-green3{
    background-color: rgb(41, 90, 74);
    height: 40px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    color: #fff;
}

.cent-green1{
    width: 80%;
}

.cent-green1 p{
    padding-left: 0px;
}

.cent-green2{
    width: 90%;
}

.cent-green3{
    width: 70%;
}

.cent-span{
    padding-left: 130px;
}

.cent-span2{
    padding-left: 155px;
}

.cent-span3{
    padding-left: 105px;
}

/* конец 7 блока */

/* 8 блок */

.fullscreen6{
    background-color: rgb(51, 68, 58);
    min-height: 100vh;
    display: flex;
    padding: 20px 0px 100px 0px;
    position: relative;
    z-index: 10;
}

.fullscreen_body6{
    /* background-color: rgb(145, 71, 71); */
    flex: 1 1 auto;
    max-width: 1000px;
    margin: 0px 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 25px;
}

.fullscreen6 h3{
    text-align: center;
    padding: 100px 0px 30px 0px;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 2px;
}

.fullscreen_body6>h1{
    text-align: center;
    padding-bottom: 70px;
    font-size: 45px;
    font-weight: normal;
    letter-spacing: 2px;
}

.reviews{
    display: flex;
}

.reviews div{
    background-color: rgb(33, 43, 40);
    height: 45vh;
    width: 50vw;
    margin-right: 40px;
    padding: 50px 30px 0px 50px;
}

.reviews h2{
    font-size: 17px;
    font-weight: 600;
    padding-bottom: 20px;
}

.reviews p{
    font-size: 17px;
    font-weight: 300;
    padding-bottom: 20px;
}

/* конец 8 блока */

/* 9 блок */

.fullscreen7{
    background: linear-gradient(rgb(255, 255, 255), rgb(240, 236, 236));
    min-height: 100vh;
    display: flex;
    padding: 20px 0px 100px 0px;
    position: relative;
    z-index: 10;
    color: black;
    padding-top: 90px;
}

.fullscreen_body7{
    flex: 1 1 auto;
    max-width: 1000px;
    margin: 0px 200px;
    display: flex;
    justify-content: center;
    padding: 0px 25px;
}

.fullscreen7 h3{
    padding: 0px 0px 30px 0px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 2px;
}

.fullscreen_body7 h1{
    padding-bottom: 40px;
    font-size: 45px;
    font-weight: 600;
    letter-spacing: 2px;
    width: 350px;
}


.full-7-1{
    margin-left: 90px;
}

.full-7-1>p{
    line-height: 30px;
}

.full-7-2{
    margin-left: 90px;
    line-height: 25px;
   
}

.full-7-2 input{
    width: 400px;
    margin: 0px 10px 10px 0px;
    border: 1px solid rgb(199, 199, 199);
}

.date{
    display: flex;
}

.date input{
    width: 195px;
}

.full-7-3{
    margin-left: 90px;
    margin-right: 90px;
}

.nomer{
    padding-top: 40px;
}

.message{
    height: 200px;
    padding-bottom: 150px;
}

/* конец 9 блока */

/* 10 блок */

.fullscreen8{
    background-color: rgb(255, 255, 255);
    min-height: 100vh;
    display: flex;
    padding: 20px 0px 100px 0px;
    position: relative;
    z-index: 10;
    color: black;
    padding-top: 90px;
}

.fullscreen_body8{
    flex: 1 1 auto;
    max-width: 1000px;
    margin: 0px 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 25px;
}

.fullscreen8 h3{
    text-align: center;
    padding: 0px 0px 30px 0px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 2px;
}

.fullscreen_body8 h1{
    display: block;
    margin: auto;
    text-align: center;
    padding-bottom: 40px;
    font-size: 45px;
    font-weight: 600;
    letter-spacing: 2px;
    width: 500px;
}

.row{
    display: flex;
    justify-content: flex-start;
}

.col{
    width: 200px;
    margin-right: 60px;
}

.full8_img-1{
    width: 200px;
}

.full8_img-2{
    width: 225px;
}

.full8_img-3{
    width: 580px;
    margin-left: 20px;
}

/* конец 10 блока */

.content_body{
    min-width: 1000px;
    margin: 0px auto;
    padding: 30px 20px;
}

.content_body p{
    margin: 0px 0px 20px 0px;
}

.content_body p:last-child{
    margin: 0;
}

.footer{
    background-color: rgb(0, 0, 0);
    text-align: center;
}

.footer_body{
    min-width: 1000px;
    margin: 0px auto;
    padding: 30px 20px;
}